<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop">Dashboard</i></h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-laptop"></i><a href="/">Dashboard</a></li>
                <li><i class="fa fa-home"></i><a href="/parameters">Parameters</a></li>
                <li><i class="fa fa-home"></i><a href="/client">Client</a></li>
                <li><i class="fa fa-home"></i><a href="#">ClientAdd</a></li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 70%">
        <div class="row">
            <form class="col-md-12" th:action="@{/client}" method="post">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Form Add New Client
                        </header>
                        <div class="panel-body">

                        <div class="row">
                            <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label ">Name</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Country</label>
                                <select class="form-control" id="ddlCountryAdd" name="countryid" required>
                                    <option th:value="${null}">-SELECT-</option>
                                    <option th:each="country:${countries}"
                                            th:value="${country.id}"
                                            th:text="${country.description}">
                                    </option>
                                </select>
                            </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Email</label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">State/Province</label>
                                        <select class="form-control" id="ddlStateAdd" name="stateid" required>
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="state:${states}"
                                                    th:value="${state.id}"
                                                    th:text="${state.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Website</label>
                                        <input type="text" class="form-control" name="website">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control" name="city">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" name="address">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Phone</label>
                                        <input type="text" class="form-control" name="phone">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Details</label>
                                        <input type="text" class="form-control" name="details">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Mobile</label>
                                        <input type="text" class="form-control" name="mobile">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <section class="panel">
                        <div class="panel-body">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="/client" class="btn btn-warning">Exit</a>
                        </div>
                    </section>
            </form>
        </div>

    </div>
</div>

<th:block layout:fragment="script">
    <script language="JavaScript">
        $("document").ready(function () {
          // Line 1

          $("#ddlCountryAdd").on("change", function () {
            // Line 2
            console.log("I got here!");

            $("#ddlStateAdd").empty().append('<option value="null">-SELECT-</option>'); // Line 3

            var countryid = $(this).val(); //Line 4

            var href = "http://localhost:8080/parameters/country/" + countryid; //Line 5

            $.get(href, function (country, status) {
              // Line 6

              var states = country.states; // Line 7

              for (var i = 0; i <= states.length - 1; i++) {
                // Line 8
                $("#ddlStateAdd").append('<option value="' + states[i].id + '">' + states[i].name + "</option>"); // Line 9
              }
            });
          });
        });
      </script>
</th:block>
</body>
</html>