<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop">Dashboard</i></h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-laptop"></i><a href="/">Dashboard</a></li>
                    <li><i class="fa fa-home"></i><a href="/parameters">Parameters</a></li>
                    <li><i class="fa fa-home"></i><a href="#">CountryDetails</a></li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row">
                <form class="form-horizontal" method="put">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Details Data Country
                        </header>
                        <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Description</label>
                                    <div class="col-sm-6">
                                        <input name="description" th:value="${country.description}" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Capital</label>
                                    <div class="col-sm-6">
                                        <input name="capital" th:value="${country.capital}" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Nationality</label>
                                    <div class="col-sm-6">
                                        <input name="nationality" th:value="${country.nationality}" type="text"  class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Continent</label>
                                    <div class="col-sm-6">
                                        <input name="continent" th:value="${country.continent}" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Country Code</label>
                                    <div class="col-sm-6">
                                        <input name="code" th:value="${country.code}" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                        </div>
                    </section>
                    <section class="panel">
                        <div class="panel-body">
<!--                            <button type="submit" disabled class="btn btn-success">Save</button>-->
                            <a href="/countries" class="btn btn-warning">Exit</a>
                        </div>
                    </section>
                </div>
                </form>
            </div>

            <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                List Of State In Country <div th:text="${country.description}"></div>
                            </header>
                            <div class="panel-body">
                                <table class="table table-striped table-advance table-hover">
                                    <tbody>
                                    <tr>
                                        <th><i class="icon_profile"></i> Capital</th>
                                        <th><i class="icon_calendar"></i> Code</th>
                                        <th><i class="icon_mail_alt"></i> Country ID</th>
                                        <th><i class="icon_pin_alt"></i> Details</th>
                                        <th><i class="icon_mobile"></i> Name</th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                    <tr th:each="state: ${country.states}">
                                        <td th:text="${state.capital}"></td>
                                        <td th:text="${state.code}"></td>
                                        <td th:text="${state.countryid}"></td>
                                        <td th:text="${state.details}"></td>
                                        <td th:text="${state.name}"></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary"
                                                   th:href="@{'/statedetails/'+${state.id}}"><i class="icon_plus_alt2"></i></a>
<!--                                                <a class="btn btn-success"-->
<!--                                                   th:href="@{'/stateedit/'+${state.id}}"><i class="icon_check_alt2"></i></a>-->
<!--                                                <a class="btn btn-danger"-->
<!--                                                   onclick="return confirm('Are you sure delete record ?')"-->
<!--                                                   th:href="@{'/state/delete/'+${state.id}}"><i class="icon_close_alt2"></i></a>-->
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </section>

                    </div>
            </div>

        </div>
    </div>
</body>
</html>